/* CSS declarations go here */

@import '//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css'

html
  font 100 100%/1.4 Helvetica Neue, sans-serif

body
  padding 5px

h1
  font-size 3em
  font-weight 100

@media only all and (min-width: 20em)
  body
    max-width 20em
  