@import '//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css'

html
  font 100 150%/1.4 Helvetica Neue, sans-serif
  letter-spacing 1px

body
  padding 5px

h1, h2, h3, h4, h5, h6, p
  margin 0 auto
  max-width 20em

h1
  font-size 2em
  font-weight 100

p#tagline

.emd
  display inline-block
  margin 0 .2em
