head
  meta(charset='utf-8')
  title Furrow
  meta(name='viewport', content='width=device-width')
body
  {{> notifications}}
  {{#if currentUser}}
    {{> main}}
    You are logged in as {{loginButtons align=right}}
  {{else}}
    {{> welcome}}
    {{loginButtons align=right}}
  {{/if}}

template(name="main")
  {{#if moodpane}}
    {{> mood}}
  {{/if}}
  {{#if friendspane}}
    {{> friendslist}}
  {{/if}}
  {{#if editpane}}
    {{> setmood}}
  {{/if}}
