head
  meta(charset='utf-8')
  title Furrow
  meta(name='viewport', content='width=device-width')
body
  {{> notifications}}
  {{renderPage}}
  {{#if currentUser}}
    You are logged in as {{loginButtons align=right}}
  {{/if}}
