head
  meta(charset='utf-8')
  title Furrow
  meta(name='viewport', content='width=device-width')
body
  {{> header}}
  {{> notifications}}
  main
    {{loginButtons align=right}}
    {{#if currentUser}}
      {{> main}}
    {{else}}
      {{> welcome}}
    {{/if}}
  {{> footer}}

template(name="main")
  {{#if moodpane}}
    button.friends Friends
    {{> setmood}}
    {{> mood}}
  {{else}}
    button.mood Mood
    {{> friendslist}}
  {{/if}}
