head
  meta(charset='utf-8')
  title Furrow
  meta(name='viewport', content='width=device-width')
body
  {{> header}}
  main
    {{#if currentUser}}
      {{> friendslist}}
    {{else}}
      {{> welcome}}
    {{/if}}
  {{> footer}}
