template(name="friendslist")
  section(role="region")
    header
      menu(type="toolbar")
        a.edit(href='/edit')
          span.icon.icon-compose Report mood
        a.mood(href='/mood')
          span.icon.icon-menu Mood
      h1 Furrow: your friends
    {{#if friends}}
    article#friends(data-type="list")
      header Connect to your friends:
      ul
        {{#each friends}}
        li
          aside.pack-end
            img(src="{{image.url}}")
          {{#if is_friend}}
          aside
            button.danger.unfriend(id="{{_id}}") unfriend
          {{else}}
          {{#if is_invited}}
          aside
            button.disabled invited
          {{else}}
          {{#if _id}}
          aside
            button.recommend.connect(id="{{_id}}") connect
          {{else}}
          aside
            button.recommend.invite invite
          {{/if}}
          {{/if}}
          {{/if}}
          a(href="{{url}}")
            p {{displayName}}
            {{#if is_following}}
            p You are a friend
            {{/if}}
        {{/each}}
    {{/if}}
