template(name="friendslist")
  section(role="region")
    header
      menu(type="toolbar")
        a.edit(href='/edit')
          span.icon.icon-compose Report mood
        a.mood(href='/mood')
          span.icon.icon-menu Mood
      h1 Furrow: your friends
    {{#if friends}}
    article#friends(data-type="list")
      header Connect to your friends:
      {{> peoplelist}}
    {{/if}}
    aside
      a(href="/invitefriends") invite an existing friend
