template(name="friendslist")
  #friends
    ul
      {{#each friends}}
      li
        a(href="{{url}}")
          img(src="{{image.url}}")
          | {{displayName}}
        {{#if _id}}
        button connect
        {{else}}
        button invite
        {{/if}}
      {{/each}}
