template(name="friendslist")
  {{#if friends}}
  section#friends(data-type="list")
    header Connect to your friends:
    ul
      {{#each friends}}
      li
        aside.pack-end
          img(src="{{image.url}}")
        a(href="{{url}}")
          {{#if is_friend}}
          aside
            button.unfriend(id="{{_id}}") unfriend
          {{else}}
          {{#if _id}}
          aside
            button.connect(id="{{_id}}") connect
          {{else}}
          aside
            button.invite invite
          {{/if}}
          {{/if}}
          p {{displayName}}
          {{#if is_following}}
          p You are a friend
          {{/if}}
      {{/each}}
  {{/if}}
