template(name="invitefriends")
  section.skin-organic(role="region")
    header
      menu(type="toolbar")
        a.back(href="/friends")
          span.icon.icon-send back
      h1 Furrow: invite a new friend
    article
      form#invitefriend
        p Search for a friend:
        input#name(type="text", placeholder="Enter the name to search for").smalltext
        button.search Search
      div(id="results")
