template(name="mood")
  {{#if moods}}
  section#moods(data-type="list")
    header See how your friends are feeling right now
    ul
      {{#each moods}}
      li
        aside.pack-end
          img(src="{{image.url}}")
        a(href="{{url}}")
          p {{displayName}}
          p is feeling {{mood.mood}}: {{mood.message}} ({{mood.createdAt}})
      {{/each}}
  {{/if}}
