template(name="mood")
  section(role="region")
    header
      menu(type="toolbar")
        a.edit
          span.icon.icon-compose Report mood
        a.friends
          span.icon.icon-user Friends
      h1 Furrow: Moods
    {{#if moods}}
    article#moods(data-type="list")
      header See how your friends are feeling right now
      ul
        {{#each moods}}
        li
          aside.pack-end
            img(src="{{image.url}}")
          a(href="{{url}}")
            p {{displayName}}
            p is feeling {{mood.mood}}: {{mood.message}} ({{mood.createdAt}})
        {{/each}}
    {{/if}}
