template(name="mood")
  {{#if moods}}
  #moods See how your friends are feeling right now
    ul
      {{#each moods}}
      li
        a(href="{{url}}")
          img(src="{{image.url}}")
          | {{displayName}}
        span is feeling {{mood.mood}}: {{mood.message}} ({{mood.createdAt}})
      {{/each}}
  {{/if}}
