template(name="notifications")
  #notifications
  {{#if connectionRequests.count}}
    {{#each connectionRequests}}
      section(role="status")
        p
          img(src="{{requester.image.url}}")
          strong {{requester.displayName}}
          span would like to see your status
          {{#if requester._id}}
          button.accept(id="{{requester._id}}", requestId="{{_id}}") accept
          {{/if}}
    {{/each}}
  {{/if}}
