template(name="setmood")
  #moodform
    form#setmood
      h1 How do you feel right now?
      select#mood
        option great
        option fair
        option down
      input#message(type="text", placeholder="Add a message")
      button(type="submit) Send
