template(name="setmood")
  section.skin-organic(role="region")
    header
      a.close(href='/mood')
        span.icon.icon-close close
      menu(type="toolbar")
        a.submit
          span.icon.icon-send submit
      h1 How do you feel?
    article
      form#setmood
        p
          select#mood
            option great
            option fair
            option down
        p
          input#message(type="text", placeholder="Add a message")
