template(name="welcome")
  h1 Welcome to Furrow
  figure#happyoldman
    img(src='http://upload.wikimedia.org/wikipedia/commons/8/8b/Happy_Old_Man.jpg')
  p#tagline
    | Ethel uses Furrow to ask her friends around for tea. Ernest knows he can call on his trusted neighbours at the touch of a button when a stranger knocks at the door. Nellie’s daughter sends her new photos of her grandchild
    span.emd —
    | and old ones of family holidays.
  p Tend lets you keep in touch with your closest family and friends.
  p
    span#login Join now >
